@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Poppins:wght@300;400;700&display=swap');

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*-----*/

body, input{
    font-family: 'Poppins', sans-serif;
    color: #fff;
}
a{
    text-decoration: none;
    color:#fff
}


body{
    background-size: cover;
    background-repeat: no-repeat;
    
}
.mainsection{
    display: flex;
    
}
.headerclass{
    display: flex;
    gap: 15px;
    padding: 15px;
    height: 80px;
}
.headerclass a{
    font-size: 25px;
}
.sectionclass{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 500px ;

}
.containerclock{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap:15px;
    width: 500px;
    height: 200px;
    background-color: #66656596;
    border-radius: 10px;
    
    -webkit-box-shadow: 15px 15px 34px -16px rgba(255,255,255,0.64);
-moz-box-shadow: 15px 15px 34px -16px rgba(255,255,255,0.64);
box-shadow: 15px 15px 34px -16px rgba(255,255,255,0.64);
}

.timeclass{    
    font-size: 50px;    
}

.dateClass{
    font-size: 20px;
}
.containerPass{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px
    
}
.passwordframe{
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 420px;
    padding: 20px;
    background-color: #66656596;
    border-radius: 10px;

}
.formclass{
    display: flex;
    gap: 20px;
}

.inputnumber{
    width:60px;
    height:20px;
    padding: 10px;
    border-radius: 5px;
    font-size: 20px;
    font-weight: bold;
    color: #1B66C9;
}
.btnPassword{
    width: 150px;
    height: 45px;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #1B66C9;
    color:#fff
    
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}
.sectionlink{
    display: flex;   
    width: 600px;   
    height: 700px;
}

.containermylink{
    display: flex;
    flex-direction: column;
    align-items: center;  
    gap: 10px;
    width: 80%; 
    margin-left: 10px;
    }

.inputlink{
    width: 100%;
    height: 25px;
    padding: 5px 5px 5px 30px;
    color:black;
    font-size: 18px;
    border-radius: 5px;
}

.btnLink{
    width: 100%;
    height: 35px;
    
    border: none;
    border-radius: 5px;
    background-color: #1B66C9;
    color:#fff;
    font-size: 20px;
    cursor: pointer;
}

.containeritems{
    display: flex;
    align-items: flex-start;
    align-content: flex-start;
    flex-wrap: wrap;
    gap: 10px;
    width: 100%;
    height: 500px;
        
}

.itemclass{
    display: flex;
    justify-content: center;
    align-items: center;
    width:150px;
    height: 50px;
    background-color: #66656596;
    border-radius: 10px;
    position: relative;
}
.deleteItem{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #c7c5c596;
    color: #000;
    font-weight: bold;
    position: absolute;
    top:0%;
    left:87%;
    cursor: pointer;
}

.containerWeather{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap:15px;
    width: 500px;
    height: 300px;
    background-color: #66656596;
    border-radius: 10px;
}

.conditionweather{
    color:chocolate;
}

.currenteWeathercontainer{
    display: flex;
    align-items: center;
    gap: 10px;
    
}
.currentgrades{
    font-size: 40px;
}

.weatheroptions{
    display: flex;
    flex-direction: column;
}

.weatherperhourID{
    display: flex;
    width: 490px;
    gap: 5px;
    overflow-x: scroll;
    overflow-y: hidden;
}
.hourweatherclass{
    display: flex;
    flex-direction: column;
}