@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Poppins:wght@300;400;700&display=swap');

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*-----*/

body, input{
    font-family: 'Poppins', sans-serif;
    color: #fff;
}
a{
    text-decoration: none;
    color:#fff
}


body{
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #000;
    
}
.mainsection{
    display: flex;
    justify-content: center;
    padding-top: 20px;
    gap: 20px;  
}

.headerclass{
    display: flex;
    align-content: center;
    gap: 15px;
    padding: 15px;
    height: 40px;
}
.headerclass a{
    font-size: 25px;
}
.headerclass a:hover{
    opacity: 75%;
}
.sectionclass{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 400px;
    margin-bottom: 150px;
}
.rightsection{
    display: flex;
    flex-direction: column;
    align-items: center;
}


/* CLOCK */

.clocksection{
    padding: 15px;
}
.containerclock{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap:15px;
    width: 500px;
    height: 200px;
    background-color: #66656596;
    border-radius: 10px;
    
    -webkit-box-shadow: 15px 15px 34px -16px rgba(255,255,255,0.64);
-moz-box-shadow: 15px 15px 34px -16px rgba(255,255,255,0.64);
box-shadow: 15px 15px 34px -16px rgba(255,255,255,0.64);
}

.timeclass{    
    font-size: 50px;    
}

.dateClass{
    font-size: 20px;
}


/* PASSWORD */
.containerPass{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
    height: 300px;
    
}
.passwordframe{
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 400px;
    padding: 10px;
    background-color: #66656596;
    border-radius: 10px;
    -webkit-box-shadow: 15px 15px 34px -16px rgba(255,255,255,0.64);
    -moz-box-shadow: 15px 15px 34px -16px rgba(255,255,255,0.64);
    box-shadow: 15px 15px 34px -16px rgba(255,255,255,0.64);

}
.formclass{
    display: flex;
    gap: 20px;
}

.inputnumber{
    width:60px;
    height:20px;
    padding: 10px;
    border-radius: 5px;
    font-size: 20px;
    font-weight: bold;
    color: #1B66C9;
}
.btnPassword{
    width: 150px;
    height: 45px;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #1B66C9;
    color:#fff
    
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}
.sectionlink{
    display: flex;   
    width: 600px;   
    height: 700px;
}

.containermylink{
    display: flex;
    flex-direction: column;
    align-items: center;  
    gap: 10px;
    width: 500px; 
    height: 400px;
}

.containermylink h2{
    font-size: 24px;
}

.inputlink{
    width: 98%;
    height: 25px;
    padding: 5px;
    color:black;
    font-size: 18px;
    border-radius: 5px;
}

.btnLink{
    width: 100%;
    height: 35px;
    border: none;
    border-radius: 5px;
    background-color: #1B66C9;
    color:#fff;
    font-size: 20px;
    cursor: pointer;
}

.containeritems{
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content: center;    
    gap: 10px;
    width: 100%;
    height: 500px;
    overflow-y: auto;
        
}
.containeritems::-webkit-scrollbar {
    width: 20px;
}

.containeritems::-webkit-scrollbar-track {
    background: #d6d6d7;
}
.containeritems::-webkit-scrollbar-thumb {
    background-color: #696C74;
    border-radius: 20px;
    width: 10px;   
  }

.itemclass{
    display: flex;
    justify-content: center;
    align-items: center;
    width:140px;
    height: 50px;
    background-color: #66656596;
    border-radius: 10px;
    position: relative;
}
.deleteItem{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #c7c5c596;
    color: #000;
    font-weight: bold;
    position: absolute;
    top:0%;
    left:87%;
    cursor: pointer;
}

/* WEATHER */
.selectcity{
    display: flex;
    gap: 5px;
    margin-bottom: 20px;
    width: 350px;
    
}
.inputcity{
    width: 200px;
    height: 40px;
    border-radius: 5px;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
}

.btnweather{
    width: 100px;
    height: 40px;
    border: none;
    border-radius: 5px;
    background-color: #1B66C9;
    color:#fff;
    font-size: 20px;
    cursor: pointer;
}
.containerWeather{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap:15px;
    width: 400px;
    height: 250px;
    background-color: #66656596;
    border-radius: 10px;
    padding: 10px;
    -webkit-box-shadow: 15px 15px 34px -16px rgba(255,255,255,0.64);
-moz-box-shadow: 15px 15px 34px -16px rgba(255,255,255,0.64);
box-shadow: 15px 15px 34px -16px rgba(255,255,255,0.64);

}
.locationID{
    font-size: 18px;
    
}

.currentWeatherID{
    display: flex;
    align-items: center;
    gap: 10px;
}

.conditionweather{
    color:#E5A207;
}

.currentgrades{
    font-size: 50px;
}

.weatheroptions{
    display: flex;
    flex-direction: column;
    font-size: 14px;
    margin-left: 20px;
}

.weatherperhourID{
    display: flex;
    width: 100%;
    gap: 5px;
    overflow-x: scroll;
    overflow-y: hidden;
}

.weatherperhourID::-webkit-scrollbar {
    width: 10px;
}

.weatherperhourID::-webkit-scrollbar-track {
    background: #d6d6d7;
}
.weatherperhourID::-webkit-scrollbar-thumb {
    background-color: #696C74;
    border-radius: 20px;
    width: 10px;   
  }


.hourweatherclass{
    display: flex;
    flex-direction: column;
}

.thermo{
    width: 40px;
    height: 40px;
}

/* FOOTER*/

.footerclass{
    display: flex;
    justify-content: flex-end;
    
}
.footernav{
    display: flex;
    justify-content: flex-end;
    gap: 20px;
    padding: 15px;
    border-bottom: 1px solid #fff;
    width: 50%;
    
}
.footerclass span{
    font-size: 30px;
}

.footerclass span:hover{
    opacity: 75%;
    animation: color 1s linear;
}

@media screen and (max-width:700px){
    .mainsection{
        flex-direction: column;
        align-items: center;
    }
    .rightsection{
        order:-1;
    }
}

@media screen and (max-width:500px){
    .mainsection{
        flex-direction: column;
        align-items: center;
    }
    .rightsection{
        order:-1;
    }
    .passwordframe{
        width: 300px;
    }
    .containerWeather{
        width: 400px;
    }

    .containermylink{
        width: 300px; 
    }

}